#############################################################################
# nsd-manual
#############################################################################
nsd-manual/

#############################################################################
# OmegaT
#############################################################################
*.bak

